<div #contentWrapper class="contentWrapper">
  <!-- <vertical-split-pane class="verticalSeparator" primary-component-initialratio="0.30" separator-thickness="21" [primary-component-minsize]="395"
    [secondary-component-minsize]="829" primary-component-toggled-off="true" (on-change) = "verticalPaneResizeListener()">
    <div class="split-pane-content-primary">
     
    </div>
    <div class="split-pane-content-secondary">
      <app-workspace #workspace class="workspaceWrapper" [kendoConfig]='kendoConfig'></app-workspace>
    </div>
  </vertical-split-pane> -->
  <div class="appconatiner">
    <div class="configuratorpane">
      <app-spreadsheetConfigurator  #spreadsheetConfigurator class="questionWrapper" [configuratorJSON]='configuratorJSON' [kendoConfig]='kendoConfig' (configJSONchanged)="configJSONchangedListener($event)" (getDataEvent)="getDataEventListener($event)"></app-spreadsheetConfigurator>
    </div>
    <div class="tooglebar"><button class="togglePaneButton" (click) = "toggleConfiguratorPane(!configuratorVisible)">{{toogleBtnText}}</button></div>
    <div class="spreadsheetpane">
      <app-workspace #workspace class="workspaceWrapper" [kendoConfig]='kendoConfig'></app-workspace>
    </div>
  </div>
</div>