.questionHost{
    &>div{
        font-size: 1.1em;
        line-height: 1.6;
    }

    .questionHeadings{
        font-weight: 600;
        color: #008fce;
        font-size: 1.5em;
    }

    .leoHost{
        width: 100%;
    }
}
.switch{
    box-sizing: content-box;
  }
  
  .switch input {
    display: none;
  }
  .switch i {
    display: inline-block;
    cursor: pointer;
    padding-right: 20px;
    vertical-align: middle;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    border-radius: 20px;
    margin-left: 10px;
    background: rgb(167, 214, 255);
    box-shadow: inset 0 0 1px rgba(0,0,0,.5);
  }
  .switch i:before {
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    padding: 1px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
  }
  .switch :checked + i {
    padding-right: 0;
    padding-left: 20px;
    background: rgb(96, 181, 255);
  }

  .check{
    min-width: 108px;
  }
  .panel-heading{
    font-size: 14px;
    font-weight: 800;
  }